/* Variables globales de diseño */
:root {
            --rosa-fondo: #fde7e8;
            --rosa-claro: #f9dfe1;
            --rosa-medio: #edc3c7;
            --rosa-oscuro: #b46f75;
            --vino: #865257;
            --dorado: #d3a64f;
            --dorado-claro: #f1d99d;
            --crema: #fffaf2;
            --blanco: #ffffff;
        }
